section {
    padding: 1rem 0;
}

section h2 {
    color: #18BC9C;
    font-size: 2.25rem;
    line-height: 2rem;
}

.left {
    width: 45%;
    float: left;
    padding: 10px;
    /*border-right: #138496 dotted;*/
}

.right {
    width: 50%;
    float: right;
    padding: 10px;
}

button {
    margin-right: 15px;
}

.subtitle {
    color: #718c99;
    font-size: 1.75rem;
    line-height: 1.2rem;
}

img {
    padding: 10px;
    width: 200px;
    height: 200px;
}
